* {
    margin: 0 0;
    padding: 0 0;
}

body {
    font-family: 'Microsoft YaHei', 宋体, 'Myriad Pro', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#main{
    width: 960px;
    margin:15px auto;
}
a {
    outline: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

/*首页头部*/
.header {
    width: 100%;
    height: 229px;
    border-bottom: solid 2px #E1551E;
}

.top {
    width: 100%;
    height: 33px;
    background: #F2F2F2;
}

.logo {
    width: 100%;
    height: 163px;
}

.nav {
    width: 100%;
    height: 33px;
}

.top1 {
    width: 905px;
    height: 33px;
    margin: 0 auto;

}

.logo1 {
    height: 163px;
    width: 905px;
    margin: 0 auto;
    position: relative;
}

.nav1 {
    height: 33px;
    width: 905px;
    margin: 0 auto;

}

ul {
    list-style: none;
    display: inline-block;
    *display: inline;
    float: right;
    margin: 7px 0 0 0;
}


li {
    display: inline-block;
    *display: inline;
    float: left;
    margin: 0 0 0 20px;
}


.toplink a {
    text-decoration: none;
    color: #B6B6B6;
    letter-spacing: 3px;
}

.toplink a:hover {

    color: #E98963;

}

.logon a, .register a {
    color: #E98963;
}

.logo_img {
    display: inline-block;
    padding: 15px 0 0 0;
    width: 120px;
}

.logo_img {
    *display: inline;
}

.logo_img img {
    border: none;
}

.searchline {
    position: relative;
    top: 0;
    left: 60px;
    display: inline-block;
    width: 560px;
    height: 50px;
    background: #E6703C;
    border-radius: 5px;
}

.searchline {
    *display: inline;
}

.searchline form input[name="searchword"] {
    width: 465px;
    height: 40px;
    margin: 5px 5px;
    padding-left: 10px;
    border: 0 solid;
    border-radius: 5px;
    font-size: 20px;
    color: #666;
}

.searchline form .searchbtn {
    cursor: pointer;
    display: inline-block;
    height: 55px;
    font-size: 20px;
    letter-spacing: 10px;
    margin: 0 10px;
    color: white;
}

.searchline form .searchbtn {
    *display: inline;
}

.hot_word li, .hot_word li a {
    text-decoration: none;
    font-size: 15px;
    color: #888;
}

.hot_word li {
    margin: 0 0 0 20px;
}

.hotword {
    position: absolute;
    top: 90px;
    left: 180px;
}

.hotword a:hover {

    color: #E98963;
}

.nav1 ul li, .nav1 ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Microsoft YaHei', sans-serif;
    letter-spacing: 4px;
    margin: 5px 18px 0 0;
}

.nav1 ul {
    float: left;
    margin-top: 0;
}

.nav1 li a:hover {
    color: #E6703C;
}

.focuscolor {
    color: #E6703C !important;
}

/*首页轮播*/
.lunbo {
    position: relative;
    margin: 30px auto;
    width: 905px;
    height: 328px;
    background: url("../images/111.jpg") no-repeat;
    overflow: hidden;
}

#carousel-indicators {
    bottom: 0;
    left: 75%;
}

.lunbo-btn-left, .lunbo-btn-right {
    position: absolute;
    width: 80px;
    height: 150px;

    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 100px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
}

.lunbo-btn-left:hover, .lunbo-btn-right:hover {

    opacity: 0.8;
    filter: alpha(opacity=80);

}

.lunbo-btn-left {
    top: 100px;
    left: 0;
}

.lunbo-btn-right {
    top: 100px;
    right: 0;
}

/*首页推荐*/
.tuijian {
    width: 905px;
    margin: 0 auto;
    padding: 0 0;
}

.block-title {
    font-size: 18px;
    width: 150px;
    float: left;
    margin: 0 auto;
    line-height: 24px;
}

.more {
    font-size: 18px;
    width: 70px;
    float: right;
}
.more a {
    text-decoration: none;
    color: black;
    padding: 0 7px 0 0;
}

.more a:hover {

    color: #E98963;
}

.tuijianneirong {
    box-sizing: border-box;
    clear: both;
    width: 905px;
    margin: 0 auto 0 auto;
    padding: 19px 20px 20px 22px;
    border: 1px solid #ccc;
}

.member-info-tag {
    position: relative;
    width: 210px;
    height: 280px;
    margin: 0 1px;
    padding: 0 0;
    border: 0 solid #ccc;
    display: inline-block;
}

.member-info-tag {
    *display: inline;
}

.member-info-tag .member-info-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 220px;
    background: rgba(30, 30, 30, 0.5);
}

.member-info-tag .member-info-shade:hover {
    background: rgba(30, 30, 30, 0);
}

.member-info-img {
    width: 210px;
    height: 220px;
}

.member-info-img img {
    display: block;
    margin: 0 0;
    padding: 0 0;
    width: 210px;
    height: 220px;
}

.member-info-text {
    width: 210px;
    height: 60px;
}

.member-info-text p {

    margin:2px 0;
}

.faburentitle, .jobtitle, .pointtitle {
    color: #aaa;
}


.fabureninfo {
    font-weight: 800;
}

/*首页每日*/
.meiri {
    width: 905px;
    margin: 40px auto;
    padding: 0 0;
}

.meirineirong {
    box-sizing: border-box;
    clear: both;
    width: 905px;
    margin: 0 auto 0 auto;
    padding: 19px 20px 20px 17px;
    border: 1px solid #ccc;

}

.meiricontent {
    width: 178px;
    height: 300px;
    margin: 0 15px;
    padding: 0 0;
    display: inline-block;
    overflow: hidden;
}

.meiricontent {
    *display: inline;
}

.meiricontent img {
    width: 178px;
    height: 235px;
}

.meiricontent p {
    font-size: 15px;
    line-height: 20px;
    color: #666;
    width: 178px;
    height: 20px;
    margin-top: 5px;
    overflow: hidden;
}

.meiricontent p span {
    margin: 0 5px;
    color: black;
    font-weight: 900;
}

/*首页机构*/
.jigou {
    width: 905px;
    margin: 40px auto;
    padding: 0 0;
}

.jigouneirong {
    box-sizing: border-box;
    clear: both;
    width: 905px;
    margin: 0 auto 0 auto;
    padding: 5px 8px 5px 8px;
    border: 1px solid #ccc;
}

.jigoucontent {
    display: inline-block;
    overflow: hidden;
    width: 170px;
    height: 310px;
    margin: 0 0;
    padding: 10px 0;
    border-right: 1px solid #ccc;
}

.jigoucontent {
    *display: inline;
}

.sheyingcontent {
    display: inline-block;
    overflow: hidden;
    width: 500px;
    height: 310px;
    margin: 0 0;
    padding: 10px 0;
    border-right: 1px solid #ccc;
}

.sheyingcontent {
    *display: inline;
}

.otherjigou {
    display: inline-block;
    overflow: hidden;
    width: 190px;
    height: 310px;
    margin: 0 0;
    padding: 10px 0;

}

.otherjigou {
    *display: inline;
}

.jigoubiaoti {
    padding-left: 10px;
    border-left: 3px solid red;
}

.jigouimg {
    width: 155px;
    height: 115px;
    margin: 20px 0;

}

.jigouimgtitle {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

.sheyingimg {
    display: inline-block;
    overflow: hidden;
    width: 135px;
    height: 115px;
    margin: 20px 10px 0 10px;
    padding: 0 0;

}

.sheyingimg {
    *display: inline;
}

.sheyingimg img {
    width: 135px;
    height: 90px;
}

.sheyingimgtitle {
    font-size: 12px;
    text-align: center;
}

.jigoutable {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}

.jigoutable td {
    padding: 5px;
}

.jigoutable td:hover {
    background: #E6703C;
}

.othericon {
    display: inline-block;
    overflow: hidden;
    width: 76px;
    height: 90px;
    margin: 15px 5px 0 10px;
    padding: 0 0;
}

.othericon {
    *display: inline;
}

.othertitle {
    font-size: 12px;
    line-height: 20px;
}

/*演绎资源页面*/
/*艺人信息*/
.member-info{
    margin:40px 0 20px 0;
}
.member-info-title{
padding:0 0 8px 0;
}
.addrBox{
    display: inline-block;
    font-size: 12px;
    color: #aaa;
}
.h1{
    color: #aaa;
    font-size: 34px;
}
.addr{
    display: block;
    margin-right: 15px;
}
.workorder{
    background: linear-gradient(#FAC673,#EA5C8A);
    border-radius: 7px;
    border: none;
    padding: 3px 15px;
    color: white;
    font-size: 16px;
    vertical-align: super
}
#member-info-txt{
    padding:20px;
    border: solid 2px #ddd;
    border-right: none;
    height: 555px;
}
#member-info-img{
    padding:0 0;
}
#member-info-txt span{
    margin:0 5px;
}
#member-info-txt p{
    padding-left: 10px;
}
.xuanchuan{
    margin-bottom: 20px;
}

.cover-title p{
    margin:2px 0;
}
.cover{
    width: 100%;
}
.faburen img{
     width:18px;
 }
.contentblock{
    padding:20px 0;
    border-top: solid 2px red;
}
.col-md-3,.col-xs-3{
    padding:0 3px;
}
.contentblock{
    position: relative;
}
.reload{
    width:80px;
    height: 233px;
    position: absolute;
    right: 0;
    top:20px;
    background: #666;
    line-height: 220px;
    font-size: 180px;
    color: white;
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    -ms-opacity: 0.3;
    -o-opacity: 0.3;
    opacity: 0.3;
    cursor: pointer;
}
.reload:hover{
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
}
/*演艺资源导航条*/
#myScrollspy ul{
    width: 140px;
    height: 505px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
#myScrollspy ul.nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}
#myScrollspy ul.nav-tabs li:first-child{
    border-top: none;
}
#myScrollspy ul.nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}
#myScrollspy ul.nav-tabs li.active a, #myScrollspy ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #E6703C;
    border: 1px solid #E6703C;
}
#myScrollspy ul.nav-tabs li:first-child a{
    border-radius: 4px 4px 0 0;
}
#myScrollspy ul.nav-tabs li:last-child a{
    border-radius: 0 0 4px 4px;
}
#myScrollspy ul.nav-tabs.affix{
    top: 100px;
    left:50px;/* Set the top position of pinned element */
}
/*创新工坊首页*/
.maincontent{
    margin:20px 0;
}
h1{
    font-size: 18px;
    font-weight: 600;
}
.factory-cover{
    width: 175px;
    padding:0 0;
}
.fac-project{
    width:730px;
    padding:15px 15px 48px 15px;
    border-top: solid 2px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.fac-project div{
    margin:0 0;
}
.pj-content{
    padding:0 5px;
}
.pj-content img{
    width: 100%;
    margin-bottom: 5px;
}
.pj-content p{
    font-size: 12px;
    margin:0 0;
}
.pj-content p span{
    padding:0 5px;
}
.pj-price{
    color: #E6703C;
}
.pj-progress{
    color: white;
    border-radius: 5px;
}
.pj-jieshu{
    background: #e6703c;
}
.pj-xuanbiao{
    background: #14728C;
}
/*娱乐新闻首页*/
.news-left{
    padding:0 30px 0 0;
}
.news-lunbo{
    padding:0 0;
    height: 331px;
}
#news-lunbo-btn-left,#news-lunbo-btn-right{
    width:50px;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    top:35%;
}
.news-list-content{
    overflow: hidden;
    margin:20px 0;
}
.news-list-content div,.news-list-content p{
    float: left;
    margin:3px 10px;
}
.news-list-content p{
    width: 415px;
    height: 20px;
    white-space:nowrap;
    overflow:hidden;
}
.news-list-title1 a{
    color:rgb(172,0,0);
}
.news-list-content a:hover{
    text-decoration: underline;
}
/*小倒三角*/
.triangle-down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid blue;
}