//公共样式
* {
  margin: 0 0;
  padding: 0 0;
  outline: none;
}
body {
  position: relative;
  padding-bottom: 50px;
  font-family: 'Microsoft YaHei','宋体','Myriad Pro', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a{
  color:black;
}
a:hover{
  cursor: pointer;
}
.box{
  width: 960px;
  margin:0 auto;
}
.text-ellipsis{
  overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
  white-space:nowrap;/* 不换行 */
}
span.vip-logo:before{
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin:0 5px;
  background: url("../images/vip-logo.png") no-repeat center;
  background-size: auto 100%;
}
span.phone-logo:before{
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin:0 5px;
  background: url("../images/phone-logo.png") no-repeat center;
  background-size: auto 100%;
}


//header样式
header{
  border-bottom: 2px solid #e95689;
  padding-bottom: 9px;
}
.banner{
  background: #f2f2f2;
  height:36px;
  vertical-align: middle;
}
.banner a{
  color:#969696;
}
.login-button a{
  color:red;
}
.banner p{
  line-height: 36px;
}
.banner p.login-banner{
  float: left;
}
.banner p.server-banner{
  float: right;
}
.my-work-button a::after{
  content: "";
  background: url('../images/arrows-down.png') no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0 2px;
  vertical-align: middle;
}
.weixin-button a::before{
  content: "";
  background: url('../images/weixin-logo.png') no-repeat;
  display: inline-block;
  width: 22px;
  height: 17px;
  margin:0 2px;
  vertical-align: middle;
}
.tel-button a::before{
  content: "";
  background: url('../images/tel-logo.png') no-repeat;
  display: inline-block;
  width: 10px;
  height: 17px;
  margin:0 2px;
  vertical-align: middle;
}
.menu-button a::before{
  content: "";
  background: url('../images/menu-logo.png') no-repeat;
  display: inline-block;
  width: 13px;
  height: 11px;
  margin:0 2px;
  vertical-align: middle;
}
.menu-button a::after{
  content: "";
  background: url('../images/arrows-down.png') no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0 2px;
  vertical-align: middle;
}
.logo-search{
  position: relative;
  padding:15px 0;
  height:160px;
}
.logo-top{
  position: relative;
}
.logo-top img{
  position: absolute;
  top:0;
  left:0;
  width: 107px;
  height: 107px;
}
.logo-top p{
  position: absolute;
  top:37px;
  left:127px;
  line-height: 28px;
}
.logo-top p .select-city{
  color:black;
  font-size: 20px;
  font-weight: bold;
}
.logo-top p .select-city::after{
  content: "";
  background: url('../images/arrows-down2.png') no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin:0 2px;
  vertical-align: top;
}
.logo-top p button{
  background: none;
  padding:2px 5px;
  border: 1px solid #ccc;
  color:#969696;
}
.logo-top p button::before{
  content: "";
  background: url('../images/ding.png') no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 11px;
  height: 17px;
  margin:0 2px;
  vertical-align: middle;
}
.searchline {
  position: absolute;
  top: 45px;
  left: 350px;
  display: inline-block;
  width: 560px;
  height: 50px;
  background: #e95589;
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.searchline {
  *display: inline;
}
.searchline form input[name="search-word"] {
  width: 465px;
  height: 40px;
  margin: 5px 5px;
  padding-left: 10px;
  border: 0 solid;
  border-radius: 5px;
  font-size: 20px;
  color: #666;
}
.searchline form .search-btn {
  cursor: pointer;
  display: inline-block;
  *display: inline;
  height: 30px;
  font-size: 20px;
  letter-spacing: 10px;
  margin: 0 10px;
  color: white;
}
ul.hot_word{
  list-style: none;
  display: inline-block;
  *display: inline;
  float: left;
  margin-top: 5px;
}
ul.hot_word li {
  display: inline-block;
  *display: inline;
  float: left;
}
ul.hot_word li, ul.hot_word li a {
  text-decoration: none;
  font-size: 15px;
  color: #888;
}
ul.hot_word li {
  margin: 0 0 0 10px;
}
header .nav li{
  float: left;
  padding:0 50px 0 0;
  list-style: none;
  font-size: 20px;
  letter-spacing: 3px;
}
header .nav li a:hover{
  color:#e95589;
  text-decoration: none;
  cursor: pointer;
}
header .nav li a.active-page{
  color:#e95589;
}

//index.html
#carousel-banner{
  width: 100%;
  min-width: 960px;
}
img.index-img{
  width: 100%;
  min-width: 960px;
}
.index-title{
  background: #eee;
  padding:30px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
.index-title h1{
  font-size: 20px;
  font-weight: 300;
  margin:0;
}
.index-title button.more{
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding:0 1em;
  margin-top:1em;
  color:#e95589;
  border:1px solid #e95589;
  background: none;
}
.index-content-area{
  padding-top:35px;
  padding-bottom:35px;
}
.carousel-area .carousel-control.left{
  left:-100px;
  color:black;
}
.carousel-area .carousel-control.right{
  right:-100px;
  color:black;
}
.yanyi-card{
  padding:0 5px;
}
.yanyi-card img{
  width: 100%;
  padding-bottom: 5px;
}
.yanyi-card p{
  margin:0;
  font-size: 12px;
  color:#969696;
}
.yanyi-card p span{
  color:black;
}
.carousel-caption{
  text-align: left;
  width: 100%;
  padding:5px;
  bottom:0;
  left:0;
  right: auto;
  background: rgba(0,0,0,0.25);
}
.carousel .carousel-control{
  background-image: none;
}
.index-news-card img{
  height: 100px;
}
.index-news-card p{
  white-space:nowrap;
  overflow: hidden;
  text-align: center;
}
.index-news-list li{
  .text-ellipsis;
}
.index-news-list li::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-bottom: 3px;
  margin-right:5px;
  border-radius: 5px;
  background: red;
}
#carousel-crowdfunding .carousel-caption{
  display: none;
}
div.crowdfunding-progress-bar{
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}
div.crowdfunding-progress-now{
  height: 10px;
  border-radius: 5px;
  background: #26fff2;
}
p.crowdfunding-progress-number{
  float: left;
}
p.crowdfunding-progress-people{
  float: right;
}
#carousel-crowdfunding .carousel-caption{
  background: rgba(0,0,0,0.6);
}
.index-crowdfunding-list h2{
  font-size: 20px;
  font-weight: 700;
  margin-top:0;
}
#crowdfunding-list-slider{
  height: 300px;
  overflow: hidden;
  position:relative;
}
.sliderbox{
  position:relative;
}
.index-crowdfunding-list li{
  font-size: 18px;
}
h2.h2-title{
  font-size: 18px;
  margin-bottom: 5px;
}
.ticket-card img{
  width: 100%;
  margin-bottom: 5px;
}
.ticket-card p{
  white-space: nowrap;
  overflow: hidden;
}
.ticket-card p span{
  font-weight: 700;
  padding:0 5px;
}
h3.h3-title{
  font-size: 12px;
  font-weight: 700;
}
h3.h3-title::before{
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;
  margin-right: 5px;
  background: red;
  vertical-align: bottom;
}
.group-card img{
  width: 100%;
}
.group-card p{
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
}
.group-area{
  padding:0 20px;
}
.group-area:nth-last-child(2){
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
}
.group-area:last-child .group-card{
  padding:0 30px
}
.group-table {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  border-collapse: separate;
}

.group-table td {
  padding: 5px;
  border: 1px solid #fff;
}

.group-table td:hover {
  border: 1px solid #e95589;
}
.group-table td a:hover{
  text-decoration: none;
}
.group-frame{
  border: 1px solid #ccc;
  padding:10px;
}

//resource.html
.src-carousel{
  padding-left: 14px;
}
.src-name{
  font-size: 28px;
  color: #969696;
  padding:4px 0;
}
.src-name .addr-box{
  display: inline-block;
  height: 28px;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
}
.src-name .work-order-btn{
  background: linear-gradient(#FAC673,#EA5C8A);
  border-radius: 7px;
  border: none;
  padding: 3px 15px;
  color: white;
  font-size: 14px;
  height: 24px;
  vertical-align: middle;
}
.src-carousel{
  margin:30px auto;
  border: 1px solid #eee;
  .carousel-control{
    background: rgba(0,0,0,0.5);
    margin:28% 0;
    width: 50px;
  }
}
.member-info-card{
  border-top:2px solid #eee;
}
.member-info-card .member-info-txt{
  padding-top: 24px;
}
.src-hot-work{
  padding:30px 0;
  border-top: dashed 1px #cecccf;
  border-bottom: dashed 1px #cecccf;
}
.work-card{
  display: inline-block;
  width: 32%;
  position: relative;
  padding:3px 0;
}
.work-card img{
  width: 100%;
}
.work-card .work-card-title{
  width: 100%;
  padding:0 0 5px 5px;
  line-height: 30px;
  font-size: 14px;
  color: white;
  height: 30px;
  vertical-align: bottom;
  position: absolute;
  bottom: 3px;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
}
.src-hot-work-list{
  overflow: hidden;
  border: 1px solid #eee;
  height: 449px;
  margin-left:-15px;
  #src-work-scroll{
    height: 250px;
    overflow: hidden;
    position:relative;
  }
}
.src-hot-work-list ol{
  position:relative;
  list-style-position: inside;
  padding-top:10px;

}
.src-hot-work-list li{
  .text-ellipsis;
  color:#aaa;
}
.src-hot-work-list li a{
  color:#aaa;
}
.src-hot-work-list li a:hover{
  color:black;
}
.div-same-height{
  overflow: hidden;
}
.div-same-height > div{
  padding-bottom: 999px;
  margin-bottom: -999px;
}
.src-hot-work-list .list-more{
  background: none;
  border: none;
  float: right;
  color:#aaa;
}
.src-hot-work-list .list-more:hover{
  color:black;
}
.src-hot-work-list .publish-work-btn{
  display: block;
  margin:60px auto 0 auto;
  background: none;
  font-size: 28px;
  width: 80%;
  height: 50px;
  color:#e95589;
  border: 2px solid #e95589;
}
.member-block{
  margin:10px auto;
  &:last-of-type{
    margin-bottom: 500px;
  }
  .member-block-title{
    margin-bottom:20px;
    padding-bottom:10px;
    font-size: 18px;
    width: 100%;
    border-bottom: 2px solid #e95589;
    .title-more{
      float: right;
      color: #e95589;
      &::after{
        content: "";
        display: inline-block;
        width: 21px;
        height: 21px;
        vertical-align: bottom;
        background: url("../images/more-right.png") no-repeat 100% 100%;
      }
    }
  }
  .member-card{
    padding:0 3px;
    img{
      width: 100%;
    }
    .member-card-info{
      margin:5px 0;
      p{
        margin-bottom: 2px;
        font-size: 12px;
        color:#a8a8a8;

        span{
          color:black;
          font-size: 13px;
          vertical-align: middle;
          &.icon-1{
            display: inline-block;
            margin:0 2px;
            width: 1.5em;
            height: 1.5em;
            background: url("../images/ico_09.png") no-repeat center ;
            background-size: 100% 100%;
          }
          &.icon-2{
            display: inline-block;
            margin:0 2px;
            width: 1.5em;
            height: 1.5em;
            background: url("../images/ico_07.png") no-repeat center ;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}
#myScrollspy .affix-top{
  position: absolute;
  top:1500px;
  left:50px;
}
#myScrollspy .affix{
  position: fixed;
  top:200px;
  left:50px;
}


.nav-aside{
  position: absolute;
  top: 1500px;
  right: 50px;
  width: 149px;
  height: 332px;
  padding:3px 3px;
  overflow: hidden;
  border-radius: 30px;
  background: url("../images/src-nav-border.png") no-repeat;
  background-size: 100% 100%;
  table{
    width: 100%;
    height: 227px;
    border-spacing:2px;
    border-collapse: separate;
    tr{
      height: 35px;
      &.first-line{
        height: 52px;
        td:first-of-type{
          border-radius: 25px 0 0 0;
        }
        td:last-of-type{
          border-radius:0 25px 0 0;
        }
      }
    }
    td{
      text-align: center;
      color:white;
      &>a{
        color: inherit;
      }
      &.active{
        background: #ed8300;
      }
    }
  }
  button{
    width: 100%;
    background: none;
    border: none;
    font-size: 18px;
    line-height: 30px;
    color:white;
    margin-top: 10px;
  }
}

//ticket.html
.ticket-menu{
  margin:10px auto;
}
.ticket-menu-left{
  width: 185px;
  ul{
    list-style: none;
    width: 170px;
    border: 1px solid #ccc;
    li{
      position: relative;
      line-height: 66px;
      font-size: 14px;
      padding-left:75px;
      border-bottom: 1px solid #ccc;
      &:last-of-type{
        border-bottom: none;
      }
      &:hover{
        background: #eee;
      }
      img{
        position: absolute;
        left: 10px;
        top:50%;
        transform: translate(0,-50%);
      }
    }
  }
}
.ticket-menu-right{
  width: 775px;
  #ticket-top-carousel{
    img{
      width: 100%;
      height: 334px;
    }
    .ticket-top-carousel-indicators{
      margin:0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.3);
      line-height: 35px;
      width: 100%;
      text-align: right;
      padding-right: 50px;
    }
  }
}
.nav-choose-city{
  color:white;
  background: linear-gradient(#f9c678,#ea5a8e);
  border-radius: 5px;
  li>a{
    color:white;
  }
  li.active>a, li.active>a:focus, li.active>a:hover{
    background: orangered;
  }
  li:hover>a,li:hover>a:focus,li:hover>a:hover{
    background: orangered;
  }

}
.choose-city-info{
  background: #f9f9f9;
  font-size: 12px;
  line-height: 25px;
  color:#aaa;
  padding-left:2em;
  span{
    color:red;
  }
  a{
    color: black;
  }
}
.ticket-left-poster{
  width: 265px;
  img{
    width: 100%;
  }
  div{
    background: #ff7f00;
    width: 100%;
    border-top: dashed 2px white;
    p{
      margin-bottom: 0;
      line-height: 30px;
      color:white;
      font-size: 18px;
      padding:0 5px;
      b{
        font-size: 20px;
      }
      span{
        float: right;
      }
    }
  }
}
.ticket-cover{
  img{
    width: 100%;
  }
}
.ticket-cover-row{
  padding-bottom: 20px;
  border-bottom: dashed 1px #ccc;
}
.ticket-cover-info{
  p{
    margin-bottom: 0;
  }
  .ticket-title{
    font-size: 16px;
    color: black;
  }
  .ticket-price{
    color:red;
    span{
      font-size: 24px;
      font-weight: 700;
    }
  }
  .show-time{
    font-weight: 700;
    span{
      background: red;
      float: right;
      color:white;
    }
  }
  .synopsis{
    font-size: 12px;
    color:#aaa;
  }
}
.ticket-cover-sm{
  margin-top:30px;
  padding:0 5px;
  img{
    width:100%;
  }
  .cover-sm-title{
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color:black;
    background: #eee;
    .text-ellipsis;
  }
}
.ticket-right-box{
  border: 1px solid #eee;
  button{
    float: left;
    width: 50%;
    line-height: 40px;
    background: #eee;
    border: none;
    margin-bottom: 20px;
    &.btn-actived{
      background: white;
    }
  }
  .hot-events-box{
    img{
      width: 100%;
    }
    ul{
      list-style: none;
      margin:5px;
      li{
        font-size: 12px;
        padding:5px 0;
        .text-ellipsis;
        border-bottom: dashed 1px black;
        span{
          background: #ccc;
          color:white;
          padding:2px 5px;
          margin-right: 5px;
        }
        &.hot-event{
          color:red;
          span{
            background: red;
            padding: 5px 8px;
          }
        }
      }
    }
    span.list-more-sm{
      float: right;
      font-size: 12px;
      background: none;
      padding:5px;
    }
  }
}
.ticket-right-cover{
  img{
    width: 100%;
  }
}
.ticket-recommend{
  margin:20px auto;
  button{
    float: left;
    width: 200px;
    line-height: 30px;
    background: #eee;
    border: none;
    font-size: 12px;
    &.btn-active{
      position: relative;
      color:white;
      background: #e41b46;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top:100%;
        left:90px;
        border-top: 10px solid #e41b46;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }
  }
  .ticket-recommend-box{
    clear: both;
    width: 100%;
    border: 1px solid #eee;
    .ticket-recommend-card{
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      padding:10px 20px;
      width: 20%;
      img{
        width: 100%;
      }
      p{
        margin:5px;
        .text-ellipsis;
        font-size: 12px;
        &.recommend-card-price{
          color: #bbb;
        }
      }
    }
  }
}
.ticket-hot-shows{
  padding:0 10px;
  .hot-shows-title{
    border-bottom: solid 1px black;
    font-size: 20px;
    line-height: 40px;
    span{
      font-size: 14px;
      float: right;
    }
  }
  .hot-shows-box{
    height: 315px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    img{
      flex-grow: 1;
      flex-shrink: 1;
      padding:0 5px 5px 0;
    }
  }
}


//factory.html
.factory-top-area{
  margin-bottom: 20px;
  height: 260px;
  div.col-xs-3,div.col-xs-6{
    padding-right: 0;
    padding-left: 0;
  }
  .factory-top-left{
    border: 2px solid #cecccf;
    height: 260px;
    overflow: hidden;
    position: relative;
    &::after{
      content: "";
      display: block;
      height: 10px;
      width: 100%;
      background:url("../images/down-icon-4.png") no-repeat center;
      background-size: 100%;
      position: absolute;
      bottom:0;
    }
    &::before{
      content: "";
      display: block;
      height: 10px;
      width: 100%;
      background:url("../images/up-icon-4.png") no-repeat center;
      background-size: 100%;
      position: absolute;
      top:0;
    }
    ul{
      width: 100%;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      list-style: none;
      &::-webkit-scrollbar{
        width: 0;
      }
      li{
        a{
          color: #969696;
        }
        position: relative;
        .text-ellipsis;
        line-height: 20px;
        font-size: 16px;
        padding-left: 10px;
        margin:0 0 5px 10px;
        border-bottom: 1px solid #ccc;
        &::before{
          content: "";
          display: block;
          position: absolute;
          top:7px;
          left:0;
          width: 5px;
          height: 5px;
          background: red;
          border-radius: 5px;
        }
      }
    }
  }
  .factory-top-center{
    height: 260px;
    .carousel-inner{
      height: 100%;
      .item{
        height: 100%;
        img{
          height: 100%;
        }
      }
    }
  }
  .factory-top-right{
    border: 2px solid #cecccf;
    height: 260px;
    overflow: hidden;
    position: relative;
    #factory-top-right{
      height: 144px;
      overflow: hidden;
      ul{
        position: relative;
      }
    }
    .hot-need{
      font-size: 20px;
      padding-left: 10px;
      span{
        font-size: 14px;
        position: relative;
        left:100px;
      }
    }
    li{
      border-bottom: dashed 1px #eee;
      p{
        .text-ellipsis;
        font-size: 12px;
        margin:0 5px 5px 5px;
        &.factory-top-right-title{
          span{
            color:red;
          }
        }
        &.factory-top-right-info{
          color: #bbb;
          span{
            float: right;
          }
        }
      }
    }
    .btn-publish-need{
      font-size: 20px;
      color: white;
      width: 115px;
      height: 32px;
      background: #e95589;
      border-radius: 5px;
      border: none;
      position: absolute;
      bottom: 15px;
      left:60px;
    }
  }
}
.factory-class-area{
  .factory-class-title{
    font-size: 18px;
    overflow: hidden;
    position: relative;
    padding-bottom: 1em;
    margin-bottom: 0;
    &::after{
      content: "";
      width: 100%;
      height: 2px;
      background: black;
      position: absolute;
      bottom:0;
      left: 5em;
    }
  }
  .factory-class-box{
    margin: 0 -25px;
    .col-xs-3,.col-xs-6{
      padding:0 10px;
    }
    img{
      width: 100%;
    }
    .factory-project-card{
      height: 255px;
      margin-bottom: 10px;
      overflow: hidden;
      .factory-project-card-title{
        font-size: 17px;
        .text-ellipsis
      }
      .factory-project-card-progress{
        margin: 15px 5px;
        height: 3px;
        background: #dcdcdc;
        border-radius: 3px;
        .factory-project-card-now{
          height: 100%;
          background: #00ff96;
        }
      }
      .factory-project-card-progress-info{
        position: relative;
        p{
          position: absolute;
          width: 100%;
          top:0;
          left:0;
          font-size: 12px;
          color: #969696;
          &:nth-of-type(1){
            text-align: center;
          }
          &:last-of-type{
            text-align: right;
          }
        }
      }
    }
  }
}


//news.html
.news-main-area{
  .row{
    margin:30px -30px;
    .news-left-area{
      border-right:1px solid #ccc;
      .news-index-item{
        margin:15px 0;
        img{
          width: 128px;
          height: 86px;
          float: left;
        }
        p{
          .text-ellipsis;
          padding-left: 10px;
          &.news-red-title{
            color:#aa0000;
            font-size: 18px;
          }
        }
      }
      .news-hot-title{
        font-size: 18px;
        font-weight:700;
      }
      .news-hot-1{
        img{
          float: left;
          padding-right: 10px;
        }
        .news-hot-tag{
          padding: 10px 0;
          border-bottom: solid 1px #ccc;
          span{
            float: right;
          }
        }
      }
      .news-hot-2{
        .news-hot-info{
          position: relative;
          &>img{
            float: left;
            margin-right: 5px;
          }
          .news-inline-list{
            position: absolute;
            bottom: 0;
            right: 0;
            section{
              display: inline-block;
              p{
                margin-bottom: 0;
                .text-ellipsis;
              }
            }
          }
        }
        .news-hot-tag{
          padding: 10px 0;
          border-bottom: solid 1px #ccc;
          span{
            float: right;
          }
        }
      }
      .news-hot-3{
        .news-inline-list{
          section{
            display: inline-block;
            width: 33.33%;
            margin:0 -4px;
            padding: 0 5px;
            img{
              width: 100%;
            }
            p{
              .text-ellipsis;
              text-align: center;
            }
          }
        }
        .news-hot-tag {
          padding: 10px 0;
          border-bottom: solid 1px #ccc;
          span {
            float: right;
          }
        }
      }
    }
    .news-right-area{
      .news-switch-btn button{
        width: 47%;
        background: #fef9ed;
        line-height: 2;
        font-size: 16px;
        border: 1px solid #be0900;
        float: left;
        &:nth-of-type(2){
          float: right;
        }
        &.btn-active{
          position: relative;
          color:white;
          background: #be0900;
          &::after{
            content: "";
            display: block;
            position: absolute;
            top:100%;
            left:50%-7px;
            border-top: 10px solid #be0900;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
          }
        }
      }
      .news-weibo-switch-box{
        margin:15px 0;
        border-bottom:1px solid #ccc;
        section{
          float: left;
          width: 50%;
          padding:5px;
          p{
            .text-ellipsis;
          }
        }
      }
      .news-weibo-list{
        padding-left: 10px;
        list-style: none;
        li {
          &:before {
            content: "";
            display: inline-block;
            height: 0.5em;
            width: 0.5em;
            background: red;
            border-radius: 2em;
            margin-right: 0.5em;
          }
          .text-ellipsis;
          line-height: 2;
          color: red;
        }
      }
      .news-solo-box{
        margin: 15px 0;
        padding:15px 0;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        .news-solo-title{
          font-size: 20px;
          color: #be0900;
          span{
            font-size: 14px;
            color: black;
            float: right;
          }
        }
        .news-solo-list{
          p{
            .text-ellipsis;
            padding-left: 5px;
            line-height: 2.5;
            background: #eee;
            margin-bottom: 5px;
          }
          img{
            width: 100%;
          }
        }
      }
      .news-gossip-top10{
        position: relative;
        #news-gossip-scroll{
          position: relative;
          height: 336px;
          overflow: hidden;
      }
        .news-gossip-top10-title{
          font-size: 20px;
          color: #be0900;
          span{
            font-size: 14px;
            color: black;
            float: right;
          }
        }
        .news-gossip-list{
          position: relative;
          padding-left: 10px;
          list-style: none;
          li{
            &:before {
              content: "";
              display: inline-block;
              height: 0.5em;
              width: 0.5em;
              background: red;
              border-radius: 2em;
              margin-right: 0.5em;
            }
            .text-ellipsis;
            line-height: 2;
            color: red;
          }
        }
      }
      .news-movies-box{
        .news-movies-bar{
          margin:15px 0;
          .btn-hot-movie{
            float: left;
            margin-right: 10px;
            background-color: #be0900;
            border-color: #be0900;
          }
          .dropdown{
            float: left;
          }
        }
        .news-movie-card{
          img{
            float: left;
            margin-right: 5px;
          }
          .news-movie-card-title{
            font-size: 16px;
            &>span{
              float: right;
              span{
                font-size: 24px;
                color:red;
              }
            }
          }
        }
      }
    }
  }
}

//resource-list.html
.search-resource-main{
  .search-choose-area{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    button{
      padding:2px 5px;
      margin:5px 10px;
      color:#a8a8a8;
      background: none;
      border: inset 1px transparent;
      &.selected{
        background: #e95589;
        border-color:#e95589;
        color: white;
      }
    }
    .tr-title {
      width: 6em;
      vertical-align: text-top;
      padding-left: 5px;
    }
    .choose-all{
      width: 5em;
      vertical-align: text-top;
    }
  }
  .choose-search-line{
    position: relative;
    line-height: 30px;
    padding:12px 10px;
    background: #eeeeee;
    vertical-align: middle;
    .choose-search-input{
      border: 2px solid #e95589;
      width: 200px;
      padding-right: 30px;
      position: relative;
      &+span{
        background:#e95589 url("../images/search.png") no-repeat center;
        background-size: 90% 90%;
        display: inline-block;
        height: 34px;
        width: 34px;
        margin-right: 15px;
        vertical-align: bottom;
        border: 2px solid #e95589;
      }
    }
    button{
      background: none;
      border: none;
      margin:0 5px;
      color: #969696;
      &:hover{
        color: #e95589;
      }
      &.active{
        color: #e95589;
      }
    }
  }
  .search-list{
    margin: 30px 0;
    .member-card{
      .member-block .member-card;
      margin-bottom: 10px;
    }
  }
}

//news-content.html
.news-content-main{
  margin:30px auto;
  border: 1px solid #ccc;
  h1{
    font-size: 22px;
  }
  .news-title-info{
    color:#969696;
    span{
      float: right;
    }
  }
  .news-caption-block{
    margin:15px 0;
    position: relative;
    padding-bottom: 30px;
    .news-pic-number{
      float: left;
      padding-right: 10px;
      span{
        color: red;
        font-size: 24px;
      }
    }
    p{
      padding-right: 100px;
    }
    .news-follow-number{
      img{
        width: 100%;
      }
      width: 74px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      padding:5px 15px;
      border-left: 1px solid #ccc;
    }
  }
  .news-pic-nav{
    position: relative;
    .news-pic-nav-scroll{
      position: relative;
      width: 60%;
      margin:0 auto;

      .news-pic-nav-border{
        overflow: hidden;
        white-space:nowrap;
        margin: 0 15px;
        position: relative;
        height: 100px;
        .news-pic-nav-box{
          position: absolute;
          overflow: visible;
          white-space:nowrap;
          img{
            padding:0 5px;
            max-height: 100px;
          }
        }
      }
      button{
        position: absolute;
        height: 100%;
        top:0;
        background: rgba(0,0,0,0.3);
        border: none;
        width: 1.5em;
        text-align: center;
        font-size: 20px;
        z-index: 10;
        &.btn-scroll-left{
          left:0px;
        }
        &.btn-scroll-right{
          right:0px;
        }
      }
    }
    .news-pre-link,.news-next-link{
      width: 80px;
      height: 100px;
      overflow: hidden;
      position: absolute;
      top:0;
      &.news-pre-link{
        left:20px;
      }
      &.news-next-link{
        right:20px;
      }
      img{
        width: 100%;
        height: 100%;
        border: 5px solid #ddd;
        padding: 5px;
        background: #fff;
      }
    }
  }
  .news-content-foot{
    background: #eee;
    line-height: 28px;
    margin:15px 0;
    span{
      float: right;
    }
  }
  .follow-member-bar{
    padding:20px 10px;
    position: relative;
    .follow-member-card{
      width: 90px;
      display: inline-block;
      .follow-member-pic{
        position: relative;
        width: 100%;
        padding:0 15px;
        img{
          width: 100%;
        }
        &:before{
          content: "";
          width: 15px;
          height: 14px;
          position: absolute;
          left: 15px;
          bottom: 0;
          background: green;
          border: 1px solid greenyellow;
        }
        &:after{
          content: "";
          width: 12px;
          height: 6px;
          position: absolute;
          left: 15px;
          bottom: 5px;
          border-left: 2px solid white;
          border-bottom: 2px solid white;
          transform: rotate(-45deg);
        }
      }
      p{
        text-align: center;
        margin-bottom: 2px;
        color:#969696;
        font-size: 12px;
        &.follow-member-name{
          color:black;
          font-size: 14px;
        }
      }
    }
    .one-click-follow{
      background: #b02221;
      border:none;
      border-radius: 5px;
      height: 40px;
      width: 120px;
      color:white;
      font-size: 18px;
      position: absolute;
      right: 20px;
      top:50%-20px;
      span{
        font-size: 24px;
      }
    }
    .follow-more {
      text-align: right;
      padding-right: 30px;
    }
  }
  .news-hot-news{
    .news-hot-news-card{
      width: 25%;
      float: left;
      padding:0 10px;
      img{
        width: 100%;
      }
      p{
        text-align: center;
      }
    }
  }
}

//factory-list.html
.factory-list-main{
  .search-choose-area{
    .search-resource-main .search-choose-area;
  }
  .factory-list-area{
    margin:20px 0;
    .factory-list-switch{
      line-height: 34px;
      border-bottom: 2px solid #b5b5b5;
      button{
        border: none;
        width: 94px;
        background: #b5b5b5;
        color:white;
        margin:0;
        &.active{
          background: #ec6f3a;
        }
      }
    }
    .factory-item-card{
      margin:10px 0;
      padding: 10px 0;
      border-bottom: 1px dashed #ccc;
      &:hover{
        background: #eee;
      }
      p{
        font-size: 12px;
        margin-bottom: 5px;
        span{
          color:#969696;
        }
        &.factory-item-title{
          font-size: 20px;
          margin-bottom: 10px;
          &>span{
            float: right;
            font-size: 12px;
            &>span{
              color:#ec6f3a;
            }
          }
        }
        &.factory-item-tags{
          margin:10px 0;
          span{
            padding:0 5px;
            margin:0 5px;
            border-radius: 5px;
            color:white;
            &.blue{
              background: #00a0e9;
            }
            &.rosered{
              background: #ff4699;
            }
          }
        }
        &.factory-item-info{
          padding-right: 200px;
        }
      }
    }
  }
}

//factory-content.html
.factory-content-main{
  border: 1px solid #ccc;
  margin:15px auto;
  .factory-content-header{
    .factory-content-title{
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 50px;
      &:before{
        content: "";
        display: inline-block;
        width: 8px;
        height: 1em;
        background:linear-gradient(to bottom, #f9c678 ,#ea5a8e);
        border-radius: 8px;
        vertical-align: bottom;
        margin:0 3px;
      }
    }
    .factory-content-info{
      font-size: 20px;
      color:#ec6941;
    }
    .factory-content-submit{
      line-height: 62px;
      background: #ec6941;
      border: none;
      color:white;
      font-size: 16px;
      padding:0 1em;
      margin:20px 0;
    }
    .factory-content-progressbar{
      list-style: none;
      height: 98px;
      width: 100%;
      background: #a1a1a1;
      li{
        position: relative;
        float: left;
        height: 100%;
        line-height: 98px;
        color:white;
        font-size: 15px;
        width: 20%;
        text-align: center;
        border-top:3px solid #eee;
        &:after{
          content: ">";
          position: relative;
          left:2em;
          color:#ccc;
        }
        &:before{
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border: 3px solid #eee;
          background: white;
          border-radius: 50%;
          position: absolute;
          top:-6px;
          left:50%-5px;
        }
        &.active{
          border-color:#ec6941;
          &:before{
            border-color: #ec6941;
          }
        }
        &:last-of-type:after{
          content: "";
        }
      }
    }
  }
  .factory-content-description{
    margin:30px 0;
    position: relative;
    h1{
      overflow: hidden;
      white-space: nowrap;
      .factory-content-header .factory-content-title;
      &:after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background: #ddd;
        margin-left: 0.5em;
        vertical-align: middle;
      }
    }
    h2{
      font-size: 22px;
      font-weight: 700;
    }
    span{
      font-size: 20px;
    }
    p{
      font-size: 22px;
    }
    a{
      color:blue;
      text-decoration: underline;
    }
    .factory-content-description-float{
      position: absolute;
      top:20px;
      right: 0;
      padding:30px;
      background: #f7f7f7;
      p{
        text-align: center;
        font-size: 20px;
        margin:20px 0;
      }
      ul{
        padding-left: 15px;
      }
      button{
        background: #ff8a00;
        border: 1px solid orange;
        padding:5px 10px;
        color: white;
      }
    }
  }
  .factory-content-document{
    h1{
      overflow: hidden;
      white-space: nowrap;
      .factory-content-header .factory-content-title;
      &:after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background: #ddd;
        margin-left: 0.5em;
        vertical-align: middle;
      }
    }
    img{
      width: 100%;
    }
  }
}

//resource-rank.html
.resource-rank-main {
  padding-top: 20px;
  .src-tomorrow-star {
    position: relative;
    img {
      width: 100%;
    }
    .resource-tomorrow-btn {
      position: absolute;
      right: 20%;
      bottom: 10%;
      width: 200px;
      border:none;
      background: #eb6100;
      color: white;
      padding:10px 0 5px 5px;
      box-shadow: 2px 2px 2px black;
      b {
        font-size: 16px;
        line-height: 16px;
        float: left;
      }
      i {
        font-size: 30px;
        line-height: 32px;
      }
      img {
        width: 41px;
        height: 38px;
        vertical-align: text-bottom;
        position: relative;
        top: 2px;
        left: 2px;
        animation: click 0.5s infinite alternate;
      }
      @keyframes click {
        from {
          top: 5px;
        }
        to {
          top: 0;
        }
      }
    }
  }
  .src-rank-list{
    margin:30px 0;
    padding-top: 20px;
    border-top:1px solid #ccc ;
    .src-rank-card{
      position: relative;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      img{
        height: 350px;
        &:first-of-type{
          width: 657px;
        }
      }
      span{
        position: absolute;
        left:660px;
        top:50px;
        font-size: 60px;
        color:white;
        transform: rotate(-40deg);
      }
    }
  }
  .src-rank-new{
    border-top:2px solid #ec6f3a;
    &>p{
      color: #ec6f3a;
      font-size: 20px;
      line-height:30px;
      margin-bottom: 10px;
    }
    .member-card{
      .member-block .member-card;
    }
  }
}

//factory-need-list.html
.factory-need-list-main{
  .factory-need-list-searchbar{
    margin:20px 0;
    font-size: 18px;
    line-height: 32px;
    span{
      border: 1px dashed #aaa;
      padding:3px;
    }
    input[type="text"]{
      width: 150px;
      border: 2px solid #ccc;
      background: none;
    }
    input[type="submit"]{
      vertical-align: bottom;
      width: 32px;
      border: 2px solid #ccc;
      border-left:none ;
      background:#eee url("../images/search.png") no-repeat center;
    }
  }
  .factory-need-list-left{
    width: 750px;
    padding:0 5px 0 0;
    .search-choose-area{
      .search-resource-main .search-choose-area;
      button.selected{
        background: linear-gradient(#ffbc6d,#ec6f3a);
        border-color: #ec6941;
      }
    }
    .factory-list-area{
      .factory-list-main .factory-list-area;
      .factory-item-card {
        table-layout:fixed;
        text-align: center;
        color: #969696;
        p {
          margin-bottom: 15px;
        }
        b {
          color: #ec6f3a;
        }
        .factory-item-title {
            width: 375px;
            & > p:first-of-type {
              font-size: 16px;
              color: black;
            }
            & > p {
              width: 375px;
              .text-ellipsis;
              text-align: left;
            }

        }
        .factory-item-status {
          width: 125px;
        }
        .factory-item-info {
          width: 125px;
        }
        .factory-item-time {
          width: 125px;
        }
      }
    }
  }
  .factory-need-list-right{
    width: 210px;
    margin:20px 0;
    border: 1px solid #ccc;
    padding:0;
    .factory-need-hot-list{
      padding:0 15px;
      border-bottom: 1px solid #ccc;
      h1{
        font-size: 19px;
      }
    }
    .factory-need-hot-card{
      padding:10px;
      img{
        width: 100%;
      }
      .factory-need-card-title{
        background: #eee;
        padding-left:5px;
        b {
          color: #ec6f3a;
        }
        i{
          font-style: normal;
          color: white;
          border-radius: 3px;
          padding:0 3px;
          &.success-flag{
            background: #ec6f3a;
          }
          &.progress-flag{
            background: #0a865f;
          }
        }
      }
    }
  }
}


//ticket-list.html
.ticket-list-main{
  margin:50px auto;
  .search-choose-area{
    margin:0 -15px;
    .factory-need-list-main .factory-need-list-left .search-choose-area;
  }
  .ticket-list-left{
    width: 70%;
    margin:20px 0;
    border: 1px solid #eee;
    .ticket-list-tips{
      border-bottom: 2px solid #eee;
      overflow: auto;
      margin-top: 10px;
      color:#969696;
      .ticket-list-condition{
        float: left;
      }
      .ticket-list-style{
        float: right;
        color:mediumvioletred;
        button{
          color:#969696;
          border: none;
          background: none;
        }
        button:hover{
          color:inherit;
        }
      }
    }
    .ticket-list-sort{
      .ticket-list-tips .ticket-list-style;
      margin:10px 0;
      select{
        color:#969696;
      }
    }
    .ticket-list-card-area{
      clear: both;
    }
    .ticket-list-card{
      overflow: auto;
      padding:10px 0;
      border-bottom:1px solid #eee;
      &>img{
        float: left;
      }
      .ticket-list-card-info{
        width: 80%;
        padding-left: 10px;
        float: left;
        p{
          margin-bottom: 5px;
          color:#969696;
          &.ticket-list-card-title{
            font-size: 18px;
            color:black;
          }
          >span{
            color:red;
          }
        }
      }
      .ticket-list-card-btn{
        clear: both;
        float: right;
        button{
          border: none;
          background: none;
          margin-right: 10px;
        }
      }
    }
  }
  .ticket-list-right{
    width: 30%;
    .ticket-list-right-item{
      h1{
        font-size: 20px;
        &:after{
          content: "";
          display: block;
          margin-top: 10px;
          width: 100%;
          height: 2px;
          background: linear-gradient(to right,mediumvioletred 30%,#ccc 0);
        }
      }
      img.img-cover{
        width: 100%;
      }
      img.inline{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 4px;
      }
      .ticket-list-right-card{
        img{
          float:left;
          margin-right: 5px;
        }
        i{
          font-style: normal;
          color:red;
        }
        font-size: 16px;
        border-bottom: 2px solid #ccc;
        padding: 10px 0;
        overflow: auto;
      }
      p.item-list{
        .text-ellipsis;
        border-bottom: 1px dashed #ccc;
        font-size: 16px;
        padding-bottom: 10px;
        i{
          font-style: normal;
          background: #ff8031;
          padding:0 2px;
          font-size: 12px;
          border-radius: 3px;
          color:white;
          font-weight: 700;
        }
      }
      .ticket-list-right-area{
        .ticket-list-right-card;
        font-size: 14px;
        border-bottom: 2px dashed #ccc;
        p{
          .text-ellipsis;
        }
      }
    }
  }
}